.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    // background-color: #f2f4f3;
    background-color: #F0EDEE;
    padding: 20px;
}